html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 150vh;
  font-size: 16px;
  font-family: "overpass", Arial, Helvetica, sans-serif;
  background-color: white;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 80vh;
  border-radius: 0 0 0 100px;
  background-image: url("./images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: url("./images/bg-pattern-intro.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
  background-position: 25% 52%;
  background-repeat: no-repeat;
}

.nav {
  width: 100%;
  height: calc($headerHeight * .2);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav-toggle {
  display: none;
}

.hamburger {
  display: none;
}

.hamburger .line1, .hamburger .line2, .hamburger .line3 {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px;
  border-radius: 50px;
}

.nav-wrapper {
  display: contents;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-wrapper {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Ubuntu";
  padding: 0 0 0 3rem;
}

.menu-wrapper .menu-item {
  padding: 0 1rem 0 1rem;
  cursor: pointer;
  position: relative;
}

.menu-wrapper .menu-item .main-menu {
  color: white;
  font-weight: 600;
  opacity: .7;
}

.menu-wrapper .menu-item .main-menu:hover {
  text-decoration: underline;
  opacity: 1;
}

.menu-wrapper .menu-item .dropdown-desktop {
  padding: 0 0 0 .2rem;
}

.menu-wrapper .menu-item .dropdown-mobile {
  display: none;
}

.menu-wrapper .menu-item .sub-menu {
  display: none;
  position: absolute;
  top: 50px;
  width: 150px;
  height: auto;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-wrapper .menu-item .sub-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-wrapper .menu-item .sub-menu li {
  padding: .3rem 0;
  opacity: .8;
}

.menu-wrapper .menu-item .sub-menu a {
  text-decoration: none;
  color: black;
}

.menu-wrapper .menu-item .sub-menu a:hover {
  font-weight: 600;
}

.menu-wrapper .menu-item #menu-1:checked ~ .sub-menu, .menu-wrapper .menu-item #menu-2:checked ~ .sub-menu, .menu-wrapper .menu-item #menu-3:checked ~ .sub-menu {
  display: block;
}

.menu-wrapper .menu-item #menu-1:checked ~ .main-menu > .dropdown-desktop, .menu-wrapper .menu-item #menu-2:checked ~ .main-menu > .dropdown-desktop, .menu-wrapper .menu-item #menu-3:checked ~ .main-menu > .dropdown-desktop {
  -webkit-transform: translateX(5px) rotate(180deg);
          transform: translateX(5px) rotate(180deg);
}

.menu-wrapper #menu-1, .menu-wrapper #menu-2, .menu-wrapper #menu-3 {
  display: none;
}

hr {
  display: none;
}

.nav-account {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Ubuntu";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-account ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

.nav-account li a {
  text-decoration: none;
}

.nav-account #login {
  color: white;
  font-weight: 600;
  opacity: .7;
  padding: 0 2rem 0 0;
}

.nav-account #signup {
  color: #ff3d54;
  background: white;
  border-radius: 50px;
  font-weight: 600;
  padding: .8rem 2.3rem;
}

.content {
  width: 100%;
  height: calc($headerHeight * .8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 0 0;
}

.content .main-heading {
  color: white;
  font-family: "overpass";
  font-size: 3.5rem;
  font-weight: 600;
}

.content .sub-heading {
  color: white;
  font-family: "overpass";
  font-size: 1.2rem;
  opacity: 0.7;
  padding: .8rem 0 3rem 0;
}

.content .btn1 {
  color: #ff3d54;
  background: white;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Ubuntu";
  padding: .7rem 1rem;
  border: none;
  margin-right: 1rem;
}

.content .btn2 {
  color: white;
  background: transparent;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Ubuntu";
  padding: .7rem 1rem;
  border: 1px solid white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 10rem 0;
  color: #1f3f5b;
  overflow: hidden;
}

.section-1 .main-heading {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: -1px;
}

.section-1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  min-height: 200px;
  position: relative;
  padding: 0 0 0 4rem;
}

.section-1 .content .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 2rem 6rem 1rem 2rem;
}

.section-1 .content .text-wrapper .text-1 {
  margin: 0 0 3rem 0;
}

.section-1 .content .text-wrapper .description {
  line-height: 2rem;
}

.section-1 .content .image-wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-1 .content .image-wrapper .editor-img {
  width: 100%;
}

.section-1 .content .image-wrapper .editor-img-mobile {
  display: none;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("./images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: url("./images/bg-pattern-circles.svg"), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: -45% 80%;
  width: 100%;
  height: auto;
  border-radius: 0 100px 0 100px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-2 .image-wrapper {
  width: 50%;
}

.section-2 .image-wrapper .phones-img {
  position: absolute;
  top: -20%;
  left: 8%;
}

.section-2 .text-wrapper {
  width: 50%;
  color: white;
  padding: 4rem 5rem 4rem 0;
}

.section-2 .text-wrapper .heading {
  font-size: 2rem;
}

.section-2 .text-wrapper .description {
  line-height: 2rem;
  padding-right: 10rem;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 10rem 0;
  padding: 10rem 0;
  position: relative;
}

.section-3 .image-wrapper {
  width: 60%;
}

.section-3 .image-wrapper .laptop-img {
  width: 70%;
  position: absolute;
  top: 0;
  left: -20%;
}

.section-3 .text-wrapper {
  width: 40%;
  color: #1f3f5b;
  padding: 0 5rem;
}

.section-3 .text-wrapper .text-1 {
  margin: 0 0 4rem 0;
}

.section-3 .text-wrapper .description {
  line-height: 2rem;
}

footer {
  width: 100%;
  height: auto;
  background-color: #25252d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Ubuntu";
  padding: 4rem 0;
  border-radius: 0 100px 0 0;
}

footer .blogr-col h1 {
  font-size: 2.3rem;
  margin: 0;
}

footer .product-col .main-item {
  font-weight: 600;
}

footer .product-col .sub-item {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  color: white;
}

footer .product-col .sub-item li {
  margin: .8rem 0;
}

footer .product-col .sub-item li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  opacity: .7;
}

footer .company-col .main-item {
  font-weight: 600;
}

footer .company-col .sub-item {
  list-style: none;
  padding: 0;
  color: white;
  margin-top: 2rem;
}

footer .company-col .sub-item li {
  margin: .8rem 0;
}

footer .company-col .sub-item li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  opacity: .7;
}

footer .connect-col .main-item {
  font-weight: 600;
}

footer .connect-col .sub-item {
  list-style: none;
  padding: 0;
  color: white;
  margin-top: 2rem;
}

footer .connect-col .sub-item li {
  margin: .8rem 0;
}

footer .connect-col .sub-item li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  opacity: .7;
}

footer .sub-item li:hover {
  text-decoration: underline;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 1400px) {
  .section-2 .image-wrapper .phones-img {
    width: 40%;
  }
  .section-2 .text-wrapper {
    padding: 3rem 0;
  }
  .section-2 .text-wrapper .description {
    padding-right: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    padding: 3.5rem 2rem;
  }
  .nav .menu-item {
    padding: 0 1rem 0 0;
  }
  .nav #login {
    padding: 0 1rem 0 0;
  }
  .section-1 .content .text-wrapper {
    padding: 0 1rem 0 0;
  }
  .section-2 .image-wrapper {
    width: 50%;
  }
  .section-2 .text-wrapper {
    width: 50%;
    padding: 2rem 0;
  }
  .section-3 {
    padding: 0 2rem 0 0;
  }
  .section-3 .text-wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 868px) {
  #header {
    background-size: contain;
  }
  .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-wrapper {
    position: absolute;
    top: -100%;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  .menu-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.1rem;
  }
  .menu-wrapper .menu-item {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }
  .menu-wrapper .menu-item .main-menu {
    color: #1f3f5b;
    font-weight: 600;
    opacity: 1;
    font-family: "overpass";
  }
  .menu-wrapper .menu-item .main-menu .dropdown-desktop {
    display: none;
  }
  .menu-wrapper .menu-item .main-menu .dropdown-mobile {
    display: inline;
    padding: 0 0 0 .2rem;
  }
  .menu-wrapper .menu-item .sub-menu {
    display: none;
    position: static;
    width: 100%;
    height: auto;
    margin: 1rem 0 0 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu-wrapper .menu-item .sub-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .menu-wrapper .menu-item .sub-menu li {
    padding: .7rem 0;
    opacity: .7;
  }
  .menu-wrapper .menu-item .sub-menu a {
    text-decoration: none;
    color: #1f3f5b;
  }
  .menu-wrapper .menu-item .sub-menu a:hover {
    font-weight: 600;
  }
  .menu-wrapper .menu-item #menu-1:checked ~ .main-menu > .dropdown-mobile, .menu-wrapper .menu-item #menu-2:checked ~ .main-menu > .dropdown-mobile, .menu-wrapper .menu-item #menu-3:checked ~ .main-menu > .dropdown-mobile {
    -webkit-transform: translateX(5px) rotate(180deg);
            transform: translateX(5px) rotate(180deg);
  }
  hr {
    display: block;
    border: none;
    width: 100%;
    height: 1px;
    background: #c8c8cb;
  }
  .nav-account ul {
    min-height: 120px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-account #login {
    color: #1f3f5b;
    opacity: 1;
    font-family: "overpass";
  }
  .nav-account #signup {
    font-family: "overpass";
    color: #1f3f5b;
    padding: 0;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(to right, #ff8f70, #ff3d54);
    border-radius: 50px;
    font-weight: 600;
    padding: 1rem 2.5rem;
  }
  .hamburger {
    display: block;
  }
  #nav-toggle:checked ~ .nav-wrapper {
    top: 20%;
    left: 0;
    right: 0;
  }
  #nav-toggle:checked ~ .hamburger .line1 {
    -webkit-transform: translateY(5px) rotate(225deg);
            transform: translateY(5px) rotate(225deg);
    -webkit-transition: .3s;
    transition: .3s;
  }
  #nav-toggle:checked ~ .hamburger .line3 {
    -webkit-transform: translateY(-5px) rotate(-225deg);
            transform: translateY(-5px) rotate(-225deg);
    -webkit-transition: .3s;
    transition: .3s;
  }
  #nav-toggle:checked ~ .hamburger .line2 {
    display: none;
  }
  .content .main-heading, .content .sub-heading {
    text-align: center;
  }
  .content .main-heading {
    font-size: 2.5rem;
  }
  .section-1 {
    padding-top: 6rem;
  }
  .section-1 .main-heading {
    font-size: 2rem;
  }
  .section-1 .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .section-1 .content .text-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 0 4rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-1 .content .text-wrapper .text-1 {
    margin-bottom: 1rem;
  }
  .section-1 .content .image-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    height: auto;
  }
  .section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: center center;
    height: auto;
    background-size: contain;
  }
  .section-2 .image-wrapper {
    width: 100%;
    min-height: 200px;
    position: relative;
  }
  .section-2 .image-wrapper .phones-img {
    top: -50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 300px;
  }
  .section-2 .text-wrapper {
    width: 100%;
    padding: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-2 .text-wrapper .heading {
    padding: 0 1rem;
  }
  .section-2 .text-wrapper .description {
    padding: 1rem 4rem;
  }
  .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .section-3 .image-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .section-3 .image-wrapper .laptop-img {
    position: static;
    width: 100%;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .section-3 .text-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 2rem 3rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .blogr-col h1 {
    margin-bottom: 4rem;
  }
  footer .product-col {
    text-align: center;
    margin-bottom: 2rem;
  }
  footer .company-col {
    text-align: center;
    margin-bottom: 2rem;
  }
  footer .connect-col {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 440px) {
  .content {
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .content .main-heading {
    font-size: 2rem;
  }
  .content .sub-heading {
    padding: 1rem;
  }
  .section-1 .content .image-wrapper {
    width: 100%;
  }
  .section-1 .content .text-wrapper {
    padding: 0 2rem;
  }
  .section-2 .text-wrapper .description {
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */