$fontOverpass: 'overpass';
$fontUbuntu: 'Ubuntu';

$ctaText: hsl(356, 100%, 66%);
$ctaBgHover: hsl(355, 100%, 74%);
$headingText: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$footerText: hsl(240, 2%, 79%);
// $darkGrayishBlue : hsl(207, 13%, 34%);
$footerBg: hsl(240, 10%, 16%);

$veryLightRed: hsl(13, 100%, 72%);
$lightRed: hsl(353, 100%, 62%);

$headerHeight: 80vh;

@mixin navText($color) {
    color: $color;
    font-weight: 600;
    opacity: .7;
}

@mixin roundedBtn($color, $bgColor) {
    color: $color;
    background-color: $bgColor;
    border-radius: 50px;
    font-weight: 600;
}

@mixin titleText($color, $font, $fontSize, $weight) {
    color: $color;
    font-family: $font;
    font-size: $fontSize;
    font-weight: $weight;
}

@mixin subText($color, $font, $fontSize, $opacity) {
    color: $color;
    font-family: $font;
    font-size: $fontSize;
    opacity: $opacity;
}


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $fontOverpass, Arial, Helvetica, sans-serif;
    background-color: $white;
}

#header {
    width: 100%;
    height: $headerHeight;
    border-radius: 0 0 0 100px;
    background-image: 
    url('./images/bg-pattern-intro.svg'),
    linear-gradient(to right, $veryLightRed, $lightRed); 
    background-position: 25% 52%;
    background-repeat: no-repeat;

}

.nav {
    width: 100%;
    height: calc($headerHeight * .2);
    color: white;
    // background-color: grey;
    display: flex;
    align-items: center;
    padding: 3.5rem 6rem;
    box-sizing: border-box;
}

.logo {
    // background-color: rosybrown;
    flex-grow: 1;
    font-family: $fontUbuntu;
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.menu-wrapper {
    // background-color: rebeccapurple;
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;  
    font-family: $fontUbuntu;
    padding: 0 0 0 3rem;

    .menu-item {
        padding: 0 1rem 0 1rem;
        cursor: pointer;
        position: relative;
        
        .main-menu {
            @include navText(white);
        }

        .main-menu:hover {
            text-decoration: underline;
            opacity: 1;
        }

        .dropdown {
            padding: 0 0 0 .2rem;
        }
        .sub-menu {
            display: none;
            position: absolute;
            top: 50px;
            width: 150px;
            height: auto;   
            background-color: white;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3);
            border-radius: 5px;
            padding: 1rem;
            box-sizing: border-box;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
            li {
                padding: .3rem 0;
                opacity: .8;
            }
            a {
                text-decoration: none;
                color: black;
            }
            a:hover {
                font-weight: 600;
            }
        }
        #menu-1:checked ~ .sub-menu, #menu-2:checked ~ .sub-menu, #menu-3:checked ~ .sub-menu {
            display: block;
        }
    }
    #menu-1, #menu-2, #menu-3 {
            display: none;
            width: 0;
            height: 0;
    }
}

.nav-account {
    // background-color: cyan;
    flex-grow: 1;
    font-family: $fontUbuntu;
    box-sizing: border-box;

    ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
    }
    li a {
        text-decoration: none;
    }
    #login {
        @include navText(white);
        padding: 0 2rem 0 0;
    }
    #signup {
        @include roundedBtn($lightRed, white);
        padding: .8rem 2.3rem;
    }
}

.content {
    width: 100%;
    height: calc($headerHeight * .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;

    .main-heading {
        @include titleText(white, $fontOverpass, 3.5rem, 600);
    }
    .sub-heading {
        @include subText(white, $fontOverpass, 1.2rem, .7);
        padding: .8rem 0 3rem 0;
    }
    .btn1 {
        @include roundedBtn($lightRed, white);
        font-size: 1rem;
        font-family: $fontUbuntu;
        padding: .7rem 1rem;
        border: none;
        margin-right: 1rem;
    }
    .btn2 {
        @include roundedBtn(white, transparent);
        font-size: 1rem;
        font-family: $fontUbuntu;
        padding: .7rem 1rem;
        border: 1px solid white;
    }
    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 992px) {
    .nav {
        padding: 3.5rem 2rem;
        
        .menu-item {
            padding: 0 1rem 0 0;
        }
        #login {
            padding: 0 1rem 0 0;
        }
    }
}

