$fontOverpass: 'overpass';
$fontUbuntu: 'Ubuntu';

$ctaText: hsl(356, 100%, 66%);
$ctaBgHover: hsl(355, 100%, 74%);
$headingText: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$footerText: hsl(240, 2%, 79%);
$darkGrayishBlue : hsl(207, 13%, 34%);
$footerBg: hsl(240, 10%, 16%);

$veryLightRed: hsl(13, 100%, 72%);
$lightRed: hsl(353, 100%, 62%);

$headerGradient: linear-gradient(to right, $veryLightRed, $lightRed); 
$section2Gradient: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));

$headerHeight: 80vh;

@mixin navText($color) {
    color: $color;
    font-weight: 600;
    opacity: .7;
}

@mixin roundedBtn($color, $bgColor) {
    color: $color;
    background: $bgColor;
    border-radius: 50px;
    font-weight: 600;
}

@mixin titleText($color, $font, $fontSize, $weight) {
    color: $color;
    font-family: $font;
    font-size: $fontSize;
    font-weight: $weight;
}

@mixin subText($color, $font, $fontSize, $opacity) {
    color: $color;
    font-family: $font;
    font-size: $fontSize;
    opacity: $opacity;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 150vh;   // temp
    font-size: 16px;
    font-family: $fontOverpass, Arial, Helvetica, sans-serif;
    background-color: $white;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: $headerHeight;
    border-radius: 0 0 0 100px;
    background-image: 
    url('./images/bg-pattern-intro.svg'), $headerGradient;
    background-position: 25% 52%;
    background-repeat: no-repeat;
}

.nav {
    width: 100%;
    height: calc($headerHeight * .2);
    color: white;
    // background-color: grey;
    display: flex;
    align-items: center;
    padding: 3.5rem 6rem;
    box-sizing: border-box;
}

#nav-toggle {
    display: none;
}

.hamburger {
    display: none;

    .line1, .line2, .line3 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px;
        border-radius: 50px;
    }
}

.nav-wrapper {
    display: contents;
}

.logo {
    // background-color: rosybrown;
    flex-grow: 1;
    font-family: $fontUbuntu;
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.menu-wrapper {
    // background-color: rebeccapurple;
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;  
    font-family: $fontUbuntu;
    padding: 0 0 0 3rem;

    .menu-item {
        padding: 0 1rem 0 1rem;
        cursor: pointer;
        position: relative;
        
        .main-menu {
            @include navText(white);
        }

        .main-menu:hover {
            text-decoration: underline;
            opacity: 1;
        }

        .dropdown-desktop {
            padding: 0 0 0 .2rem;
        }
        .dropdown-mobile {
            display: none;
        }
        .sub-menu {
            display: none;
            position: absolute;
            top: 50px;
            width: 150px;
            height: auto;   
            background-color: white;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3);
            border-radius: 5px;
            padding: 1rem;
            box-sizing: border-box;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
            li {
                padding: .3rem 0;
                opacity: .8;
            }
            a {
                text-decoration: none;
                color: black;
            }
            a:hover {
                font-weight: 600;
            }
        }
        #menu-1:checked ~ .sub-menu, #menu-2:checked ~ .sub-menu, #menu-3:checked ~ .sub-menu {
            display: block;
        }
        #menu-1:checked ~ .main-menu > .dropdown-desktop, #menu-2:checked ~ .main-menu > .dropdown-desktop, #menu-3:checked ~ .main-menu > .dropdown-desktop {
            transform: translateX(5px) rotate(180deg);
            // transition: all .3s linear 
        }
    }
    #menu-1, #menu-2, #menu-3 {
            display: none;
    }
}

hr {
    display: none;
}

.nav-account {
    // background-color: cyan;
    flex-grow: 1;
    font-family: $fontUbuntu;
    box-sizing: border-box;

    ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
    }
    li a {
        text-decoration: none;
    }
    #login {
        @include navText(white);
        padding: 0 2rem 0 0;
    }
    #signup {
        @include roundedBtn($lightRed, white);
        padding: .8rem 2.3rem;
    }
}

.content {
    width: 100%;
    height: calc($headerHeight * .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;

    .main-heading {
        @include titleText(white, $fontOverpass, 3.5rem, 600);
    }
    .sub-heading {
        @include subText(white, $fontOverpass, 1.2rem, .7);
        padding: .8rem 0 3rem 0;
    }
    .btn1 {
        @include roundedBtn($lightRed, white);
        font-size: 1rem;
        font-family: $fontUbuntu;
        padding: .7rem 1rem;
        border: none;
        margin-right: 1rem;
    }
    .btn2 {
        @include roundedBtn(white, transparent);
        font-size: 1rem;
        font-family: $fontUbuntu;
        padding: .7rem 1rem;
        border: 1px solid white;
    }
    
}

main {
    @include flexColumn;
    width: 100%
}

.section-1 {
    @include flexColumn;
    // background-color: yellowgreen;
    height: auto;
    padding: 10rem 0;
    color: $headingText;
    overflow: hidden;
    
    .main-heading { 
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: -1px;
    }
    .content {
        // background-color: hotpink;
        display: flex;
        flex-direction: row;
        height: auto;
        min-height: 200px;
        position: relative;
        padding: 0 0 0 4rem;
        
        .text-wrapper {
            // background-color: grey;
            @include flexColumn;
            width: 40%;
            padding: 2rem 6rem 1rem 2rem;
            

            .text-1 {
                margin: 0 0 3rem 0;
            }

            .description {
                line-height: 2rem;
            }
        }
        .image-wrapper {
            width: 60%;
            display: flex;
            align-items: flex-start;

            .editor-img {
                width: 100%;
                // relative to .content

                // top: -35%;
                // right: -10%;
            }
            .editor-img-mobile {
                display: none;
            }
        }
    }
}

.section-2 {
    display: flex;
    background-image: url('./images/bg-pattern-circles.svg'), $section2Gradient;
    background-repeat: no-repeat;
    background-position: -45% 80%;
    width: 100%;
    height: auto;
    border-radius: 0 100px 0 100px;
    position: relative;
    box-sizing: border-box;
    
    .image-wrapper {
        width: 50%;

        .phones-img {
            // relative to .section-2
            position: absolute;
            top: -20%;
            left: 8%;
        }
    }
    .text-wrapper {
        width: 50%;
        color: white;
        padding: 4rem 5rem 4rem 0;

        .heading {
            font-size: 2rem;
        }
        .description {
            line-height: 2rem;
            padding-right: 10rem;
        }
    }
}

.section-3 {
    display: flex;
    height: auto;
    margin: 10rem 0;
    padding: 10rem 0;
    position: relative;
    // overflow: hidden;
    
    .image-wrapper {
        width: 60%;
        
        .laptop-img {
            width: 70%;
            position: absolute;
            top: 0;
            left: -20%;
        }
    }
    .text-wrapper {
        // background-color: cyan;
        width: 40%;
        color: $headingText;
        padding: 0 5rem;
        
        .text-1 {
            margin: 0 0 4rem 0;
        }
        .description {
            line-height: 2rem;
        }
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: $footerBg;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: $fontUbuntu;
    padding: 4rem 0;
    border-radius: 0 100px 0 0;
    
    .blogr-col {

        h1 {
            font-size: 2.3rem;
            margin: 0;
        }
    }
    .product-col {

        .main-item {
            font-weight: 600;
        }
        .sub-item {
            list-style: none;
            padding: 0;
            margin-top: 2rem;
            color: white;
            
            li {
                margin: .8rem 0;
            }
            
            li a {
                text-decoration: none;
                color: white;
                font-weight: 300;
                opacity: .7;
            }
        }
    }
    .company-col {
        
        .main-item {
            font-weight: 600;
            
        }
        .sub-item {
            list-style: none;
            padding: 0;
            color: white;
            margin-top: 2rem;
            
            li {
                margin: .8rem 0;
            }
            
            li a {
                text-decoration: none;
                color: white;
                font-weight: 300;
                opacity: .7;
            }
        }
    }
    .connect-col {
        
        .main-item {
            font-weight: 600;
        }
        .sub-item {
            list-style: none;
            padding: 0;
            color: white;
            margin-top: 2rem;
            
            li {
                margin: .8rem 0;
            }
            
            li a {
                text-decoration: none;
                color: white;
                font-weight: 300;
                opacity: .7;
            }
        }
    }

    .sub-item li:hover {
        text-decoration: underline;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1400px) {
    .section-2 {

        .image-wrapper {

            .phones-img {
                width: 40%;
            }
        }
        .text-wrapper {
            padding: 3rem 0;

            .description {
                padding-right: 3rem;
            }
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .nav {
        padding: 3.5rem 2rem;
        
        .menu-item {
            padding: 0 1rem 0 0;
        }
        #login {
            padding: 0 1rem 0 0;
        }
    }
    .section-1 {
        
        .content {
            // padding: 0;

            .text-wrapper {
                padding: 0 1rem 0 0;
            }
        }
    }
    .section-2 {
        .image-wrapper {
            width: 50%;

        }
        .text-wrapper {
            width: 50%;
            padding: 2rem 0;
        }
    }
    .section-3 {
        padding: 0 2rem 0 0;

        .image-wrapper {
            
        }
        .text-wrapper {
            padding: 0;
        }
    }
}

@media screen and (max-width: 868px) {
    // === HEADER === // 
    #header {
        background-size: contain;
    }
    .logo {
        justify-content: flex-start;
    }
    .nav-wrapper {  
        position: absolute;
        top: -100%;
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 1rem 2rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-sizing: border-box;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
        z-index: 2;
    }
    
    .menu-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        box-sizing: border-box;
        font-size: 1.1rem;

        .menu-item {
            width: 100%;
            padding: 1rem 0;
            text-align: center;

            .main-menu {
                color: $headingText;
                font-weight: 600;
                opacity: 1;
                font-family: $fontOverpass;

                .dropdown-desktop {
                    display: none;
                }
                .dropdown-mobile {
                    display: inline;
                    padding: 0 0 0 .2rem;
                }
            }

            .sub-menu {
                display: none;
                position: static;
                width: 100%;
                height: auto;   
                margin: 1rem 0 0 0;
                background-color: rgba(240, 240, 240, 1);
                border-radius: 5px;
                padding: 1rem;
                box-sizing: border-box;
                box-shadow: none;
    
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
                li {
                    padding: .7rem 0;
                    opacity: .7;
                }
                a {
                    text-decoration: none;
                    color: $headingText;
                }
                a:hover {
                    font-weight: 600;
                }
            }   
            #menu-1:checked ~ .main-menu > .dropdown-mobile, #menu-2:checked ~ .main-menu > .dropdown-mobile, #menu-3:checked ~ .main-menu > .dropdown-mobile {
                transform: translateX(5px) rotate(180deg);
                // transition: all .3s linear 
            }
        }
    }

    hr {
        display: block;
        border: none;
        width: 100%;
        height: 1px;
        background: $footerText;
    }

    .nav-account {
        
        ul {
            min-height: 120px;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        
        #login {
            color: $headingText;
            opacity: 1;
            font-family: $fontOverpass;
        }
        
        #signup {
            font-family: $fontOverpass;
            color: $headingText;
            padding: 0;
            @include roundedBtn(white, $headerGradient);
            padding: 1rem 2.5rem;
        }
    }
    .hamburger {
        display: block;
    }
    #nav-toggle:checked ~.nav-wrapper {
        top: 20%;
        left: 0;
        right: 0;
    }
    #nav-toggle:checked ~ .hamburger .line1 {
        transform: translateY(5px) rotate(225deg);
        transition: .3s;
    }
    #nav-toggle:checked ~ .hamburger .line3 {
        transform: translateY(-5px) rotate(-225deg);
        transition: .3s;
    }
    #nav-toggle:checked ~ .hamburger .line2 {
        display: none;
    }
    .content {

        .main-heading, .sub-heading {
            text-align: center;
        }
        .main-heading {
            font-size: 2.5rem;
        }
    }

    // === MAIN CONTENT === // 
    .section-1 {
        padding-top: 6rem;

        .main-heading {
            font-size: 2rem;
        }

        .content {
            flex-direction: column;
            text-align: center;
            padding: 0;
            
            .text-wrapper {
                order: 2;
                width: 100%;
                padding: 0 4rem;
                box-sizing: border-box;

                .text-1 {
                    margin-bottom: 1rem;
                }
            }
            
            .image-wrapper {
                order: 1;
                width: 80%;
                height: auto;
                // background-color: red;
            }
        }
        
    }
    
    .section-2 {    
        flex-direction: column;
        background-position: center center;
        height: auto;
        background-size: contain;

        .image-wrapper {
            // background-color: darkcyan;
            width: 100%;
            min-height: 200px;
            position: relative;

            .phones-img {
                // relative to .image-wrapper
                top: -50%;
                left: 50%;
                transform: translateX(-50%);
                min-width: 300px;
            }
        }
        .text-wrapper {
            width: 100%;
            // padding: 15rem 2rem 5rem 2rem;
            padding: 0;
            text-align: center;
            box-sizing: border-box;

            .heading {
                padding: 0 1rem;
            }
            .description {
                padding: 1rem 4rem;
            }
        }
    }

    .section-3 {
        flex-direction: column;
        padding: 0;

        .image-wrapper {
            order: 1;
            width: 100%;
            
            .laptop-img {
                position: static;
                width: 100%;
                transform: translateX(5%);
            }
        }
        .text-wrapper {
            order: 2;
            width: 100%;
            padding: 2rem 3rem;
            box-sizing: border-box;
            text-align: center;
        }
    }

}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;

        .blogr-col {
            
            h1 {
                margin-bottom: 4rem;
            }
        }
        .product-col {
            text-align: center;
            margin-bottom: 2rem;
        }
        .company-col {
            text-align: center;
            margin-bottom: 2rem;
        }
        .connect-col {
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 440px) {
    .content {
        padding: 1rem;
        box-sizing: border-box;
        
        .main-heading {
            font-size: 2rem;
        }
        .sub-heading {
            padding: 1rem;
        }
    }
    .section-1 {
        .content .image-wrapper {
            width: 100%;
        }

        .content .text-wrapper {
            padding: 0 2rem;
        }
    }
    .section-2 {
        .text-wrapper .description {
            padding: 1rem;
        }
    }

}
